.categories-container {
  background-color: aqua;
  padding: 20px;

  .category-container {
    background-color: azure;
    margin-bottom: 10px;
    padding: 20px;

    .category-body-container {
      background-color: blanchedalmond;
      padding: 20px;
    }
  }
}
